@font-face {
  font-family: "lato";
  src: url("assets/fonts/Lato-Regular.ttf");
  font-display: swap;
}

@font-face {
  font-family: "bold";
  src: url("assets/fonts/RobotoCondensed-VariableFont_wght.ttf");
  font-display: swap;
}

@font-face {
  font-family: "branding";
  src: url("assets/fonts/AwesomescripttrialRegular-Rp7ve.otf");
  font-display: swap;
}

@font-face {
  font-family: "symbols";
  src: url("assets/fonts/SymbolsNerdFont-Regular.ttf");
  font-display: swap;
}

body {
  margin: 0px;
  overflow-x: hidden;
}

.nav {
  position: sticky;
  top: 0;
  width: 100%;
  color: white;
  background-color: #06213e;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1em;
}

.nav .top-banner{
  font-family: "branding";
  margin-left: 10px;
}

.nav ul{
  display: flex;
  gap: 25px;
}

.nav ul li{
  list-style: none;
  font-size: 2em;
}

.nav ul li a{
  color: #007bff;
  text-decoration: none;
}

.button{
  display: flex;
  justify-content: center;
  font-size: 2em;
  margin-right: 20px;
}

.nav ul a:hover{
  opacity: 50%;
}

.deal-in {
  font-family: "bold";
  display: flex;
  background-color: grey;
  flex-direction: column;
  padding-top: 20px;
  padding-left: 8px;
  padding-right: 8px;
  justify-content: center;
  text-align: center;
}

.logos {
  font-family: "bold";
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding-right: 4%;
}

.logos img {
  width: 90px;
  border: 2px solid;
  height: auto;
  border-radius: 60px;
  transition: transform 0.2s ease-in-out;
}

.logos img:hover {
  transform: scale(1.2);
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.productheader {
  font-family: "bold";
  padding-top: 10px;
  justify-content: center;
  text-align: center;
}

.products {
  justify-content: center;
  font-family: "bold";
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  flex-wrap: wrap;
  gap: 2px;
  padding: 10px;
}

.productcard {
  display: flex;
  width: 100%;
  max-width: 220px;
  flex-direction: column;
  margin: 20px;
  padding: 12px;
  border-radius: 10px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.productcard:hover {
  transform: translateY(-4px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.productcard img {
  width: 200px;
  display: block;
  margin: 0 auto;
  height: 200px;
}

.price {
  color: red;
}

.productcard h3,
.productcard p {
  font-size: 20px;
  line-height: 1.2;
  margin: 6px 0;
  overflow: hidden;
  text-overflow: ellipsis;
}

.buybtn {
  margin-bottom: 15px;
  margin-top: auto;
  justify-content: center;
  display: flex;
  text-align: center;
  padding: 10px 14px;
  background: #007bff;
  color: white;
  font-size: 24px;
  font-weight: 500;
  text-decoration: none;
  border-radius: 10px;
  transition: background 0.3s ease;
  transition: border 0.2s ease-in-out, transform 0.3 ease-in-out;
}

.buybtn:hover {
  background: #0056b3;
  border-color: black;
}

.aboutus {
  font-family: "bold";
  background-color: #06213e;
  color: white;
  justify-content: center;
  text-align: center;
  padding-top: 4px;
  padding-bottom: 6px;
  padding-left: 10px;
  padding-right: 10px;
}

.socials {
  font-family: "symbols";
  font-size: 32px;
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
  padding: 8px;
}
